/* Estilização do fundo, espaço */
#area-cabecalho
{
	background: url(../imagens/neon1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu
{
	padding: 10px;

}


a
{
	text-decoration: none;
}

a:link, a:visited
{
	color: #f9690e;
}

a:hover
{
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited
{
	color: #fff;
	padding: 8px 12px;
}

#area-cabecalho a:hover
{
	color: #f9690e;
	background: #000;
	text-decoration: none;
}

.branco
{
	color: white;
}

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-size: 1em;
	background: #e6e6e6;
}

#area-principal
{
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}

#area-postagens
{
	width: 660px;
	float: left;
}

#area-lateral
{
	width: 240px;
	float: right;
}

.postagem
{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

.conteudo-lateral
{
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral
{
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}

#rodape
{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #ccc;
}

h1
{
	color: #f9690e;
	font-size: 2.5em;
}

h2
{
	color: #f9690e;
}

h3
{
	color: #565656;
	background: #ccc;
	padding: 5px;
}

.data-postagem
{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}